{% extends "main/header.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="text-center" style="margin:10px">ABOUT US!</h3> <br>
    <p> 
        Welcome to our store! We pride ourselves on offering a wide range of high-quality products to suit your needs.
        From trendy accessories to essential everyday items, we strive to provide the best shopping experience.
        Explore our collection and discover the perfect items that fit your style and preferences.
        Our dedicated team ensures top-notch service and satisfaction for every customer.
        Thank you for choosing us for your shopping needs!
    </p>
</div>
<div class="container1">
    <div class="row">
        <div class="col-md-6 text-center" style="width:20% height:auto">
          <h2>Great prices!</h2>
          <p>Discover unbeatable deals! Our store offers incredible prices on a wide range of products. 
            From everyday essentials to exclusive items, we strive to provide the best value for your money. 
            Enjoy fantastic discounts and special offers that make shopping a delight. 
            Find what you need at prices that fit your budget</p>
        </div>
        <div class="col-md-6 text-center" style="width:20% height:auto">
          <h2 >Fast delivery!</h2>
          <p>"Get your items swiftly! 
            Experience lightning-fast delivery services designed for your convenience. 
            We understand the importance of receiving your purchases promptly. 
            With our streamlined delivery process, your orders will arrive at your doorstep in no time. 
            Trust us to deliver your goods quickly and reliably, ensuring a seamless shopping experience.</p>
    </div>
</div>
<div class ="container">
    <div class="row">
        <div class="col-md-6 text-center" id="iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23461.74021424365!2d23.831549876510934!3d38.00333667431504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a199709f059559%3A0xad1dacf4713268b2!2sThe%20American%20College%20of%20Greece!5e0!3m2!1sel!2sgr!4v1701099249855!5m2!1sel!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="col-md-6 text-center" id="iframe">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/o4GZUCwVRLs?si=-l2ugj5B4UhwkLOq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    </div>
</div>


{%endblock%}