{% extends "main/header.html" %}
{% load static %}
{% block content %}
<title>About</title>
<div class="container">
    <h3 class="text-center" style="margin:10px">ABOUT US!</h3> <br>
    <p> 
        Driven by a quest for knowledge and a flair for creativity, 
        I've dedicated myself to crafting this project as a testament to my skills, determination, and love for 
        [Subject/Area of Interest]. 
        My goal is to [Explain the purpose or goal of the project – e.g., 
        provide valuable information, showcase skills, or offer a solution].
    </p>
</div>
<div class="container1">
    <div class="row">
        <div class="col-md-6 text-center" style="width:20% height:auto">
          <h2>Academic journey <i class="fa-solid fa-scroll"></i></h2>
          <p>Throughout my academic journey, 
            I've cultivated a deep understanding of [Subject/Area of Interest], 
            blending theoretical knowledge with practical application. 
            This project is a manifestation of my growth, merging classroom learning with my personal insights and experiences.</p>
        </div>
        <div class="col-md-6 text-center" style="width:20% height:auto">
          <h2 >Community?! <i class="fa-solid fa-people-group"></i></h2>
          <p> But this isn’t just about me—it’s about the community we build. 
            I'm excited to share my insights, discoveries, and ideas with you. 
            This platform isn’t solely mine; it’s a space for us to connect, learn, and grow together.</p>
    </div>
</div>
<div class="container1">
    <div class="row">
        <div class="col-md-6 text-center" style="width:20% height:auto">
          <h2>Feedback? <i class="fa-solid fa-comment"></i></h2>
          <p>I believe in the power of collaboration, feedback, and continuous improvement. 
            Your thoughts, suggestions, and contributions are invaluable to me. 
            Let’s embark on this journey together and create something exceptional.</p>
        </div>
        <div class="col-md-6 text-center" style="width:20% height:auto">
          <h2>Thank you! <i class="fa-solid fa-clock"></i></h2>
          <p>Thank you for visiting! I hope you find inspiration, knowledge, or simply an enjoyable experience exploring this space.</p>
    </div>
</div>
<div class ="container">
    <div class="row">
        <div class="col-md-6 text-center" id="iframe">
            <h2>A map for fun! :)</h2>
        <p> I just though it was cool to add :) <i class="fa-solid fa-map"></i></p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23461.74021424365!2d23.831549876510934!3d38.00333667431504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a199709f059559%3A0xad1dacf4713268b2!2sThe%20American%20College%20of%20Greece!5e0!3m2!1sel!2sgr!4v1701099249855!5m2!1sel!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="col-md-6 text-center" id="iframe">
        <h2>Video demonstration <i class="fa-solid fa-play"></i></h2>
    <p> This video is a demonstration of the site's functions! </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/o4GZUCwVRLs?si=-l2ugj5B4UhwkLOq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    </div>
</div>
{%endblock%}