{% extends "main/header.html" %}
{% load static %}
{% block content %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="{% static 'main/products.css' %}">
<div class="container">
    <h3 class="text-center" style="margin:10px">WELCOME TO MY STORE!</h3> <br>
    <p> 
        Welcome to our store! We pride ourselves on offering a wide range of high-quality products to suit your needs.
        From trendy accessories to essential everyday items, we strive to provide the best shopping experience.
        Explore our collection and discover the perfect items that fit your style and preferences.
        Our dedicated team ensures top-notch service and satisfaction for every customer.
        Thank you for choosing us for your shopping needs!
    </p>
</div>
<div class="container1">
    <div class="row">
        <div class="col-md-6 text-center" style="width:20% height:auto">
          <h2>Great prices! <i class="fa-solid fa-coins"></i></h2>
          <p>Discover unbeatable deals! Our store offers incredible prices on a wide range of products. 
            From everyday essentials to exclusive items, we strive to provide the best value for your money. 
            Enjoy fantastic discounts and special offers that make shopping a delight. 
            Find what you need at prices that fit your budget</p>
        </div>
        <div class="col-md-6 text-center" style="width:20% height:auto">
          <h2 >Fast delivery! <i class="fas fa-shipping-fast"></i></h2>
          <p>"Get your items swiftly! 
            Experience lightning-fast delivery services designed for your convenience. 
            We understand the importance of receiving your purchases promptly. 
            With our streamlined delivery process, your orders will arrive at your doorstep in no time. 
            Trust us to deliver your goods quickly and reliably, ensuring a seamless shopping experience.</p>
    </div>
</div>

<div class="container1" id="filteredProductsContainer">
    <h1 class="text-center">Products</h1>
    <hr class="solid"></hr>
    <div class="row" id="HI">
        {% for product in products %}
            <div class="col-md-3 mb-4"> <!-- Adjust the column width as needed -->
                {% include 'main/product_card.html' %}
            </div>  
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- product_list.html -->

<form id="filter-form">
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="">All Categories</option>
    </select>

    <label for="subcategory">Subcategory:</label>
    <select name="subcategory" id="subcategory">
        <option value="">All Subcategories</option>
    </select>
    <button id ="button-85"type="submit">Filter</button>
</form>

<div id="products-list">
    <!-- Product list will be dynamically updated here -->
</div>

<!-- Pagination links -->
<div class="pagination d-flex justify-content-center">
    <div class="pagination" style="margin:10px">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1" class="btn btn-primary"> &laquo; first</a>
                <a href="?page={{ products.previous_page_number }}" class="btn btn-primary">previous</a>
            {% endif %}

            {% if products.has_next %}
                <a href="?page={{ products.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
                <a href="?page={{ products.next_page_number }}" class="btn btn-primary">next</a>
            {% endif %}
        </span>
    </div>
</div>
<div class="current-page">
    <p class="text-center">
        Page {{ products.number }} of {{ products.paginator.num_pages }}.
    </p>
</div>

<div class="container" style="margin:10px">
    <h1 class="text-center"> Thank you for visiting our store! </h1>
    <p> We want to express our sincere gratitude for visiting our store.
        It has been our pleasure assisting you today.
        Your support means the world to us.
        As you leave, please remember that your satisfaction is our priority.
        We hope your experience was enjoyable, and we eagerly anticipate seeing you again soon.
        Thank you for choosing us; your presence is always valued. Farewell, and have a wonderful day!</p>
</div>
<script>
    var categoriesUrl = "{% url 'get_categories_and_subcategories' %}";
    var filterUrl = "{% url 'filter_products' %}" //Assigned var values as links so that js can see them
</script>
{% endblock content %}