<!-- product_card.html -->
<!--This is the templeate used to diplay my products-->
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'main/products.css' %}">
<a href="{% url 'products' product_id=product.id %}" id="noneall" class="no-link-highlight"> <!--Make the entire card 
    clickable and redirect user to product's details page-->
    <div class="col-md-4 mb-4" id="CONT">
        <div class="card">
            <!--Display product details-->
            {% if product.image %}
            <div class="imgBox">
                <img class="card-img-top product-image mx-auto" src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
            {% else %}
                <!-- Display a placeholder image or text if no image is available -->
                <span>No Image Available</span>
            {% endif %}
            <div class="contentBox text-center">
                <h5 class="card-title">{{ product.subcategory }} {{ product.name }}</h5>
                <h6 class="card-title">{{ product.category }}</h6>
                <p class="card-text">{{ product.price }}€</p>
                <h5 class="card-title"><b>Avg rating:</b><br>
                    <span class="fa fa-star {% if product.average_rating > 0 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if product.average_rating > 1 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if product.average_rating > 2 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if product.average_rating > 3 %} checked {% endif %}"></span>
                    <span class="fa fa-star {% if product.average_rating > 4 %} checked {% endif %}"></span>
                </h5>
            </div>
        </div>
    </div>
</a>
