@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  /* Add more styles as needed */
}

.btn {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(95, 95, 95);
  color: #000000;
}

.btn:hover {
  background-color: #191919;
}


.card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 340px;
  background: #191919;
  text-decoration: none;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: rgb(95, 95, 95);
  transform: skewY(345deg);
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.1);
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: attr();
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .imgBox img {
  max-width: 100%;
  height: auto;
  transition: .5s;
}

.card:hover .imgBox img {
  max-width: 50%;
  transform: scale(1.1);
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

#noneall:link {
  text-decoration: none;
  color: aliceblue;
}

#noneall {
  text-decoration: none;
  color: aliceblue;
}