.product-image {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    max-width: 40%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    /* Add more styles as needed */
}
.card {
    position: relative;
    background: #191919;
    text-decoration: none;
    border-radius: 20px;
    overflow: hidden;
  }
.card-body {
    text-decoration: none;
    
}

#product_container {
    background-color: rgba(235, 235, 235, 0.259);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
.rating-list li {
    float: right;
    padding: 10px 5px;
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li {
    color: orange;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }
  .checked {
      color: orange;
  }

  .containerRating{
    border-radius: 10px 10px 10px 10px;
  }
